<div class="form">
  <div class="LoginFormContainer">
    <div class="LoginFormInnerContainer">
      <form [formGroup]="productForm">
        <div class="field-container">
          <div class="inputContainer description-field">
            <mat-form-field class="description-field">
              <mat-label>Product Name</mat-label>
              <input
                matInput
                placeholder="Product Name"
                formControlName="productName"
                maxlength="30"
              />
              <mat-error
                *ngIf="productForm.get('productName')?.hasError('required')"
              >
                Product name is required
              </mat-error>
              <mat-error
                *ngIf="productForm.get('productName')?.hasError('maxlength')"
              >
                Name is less than 50 char.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="field-container">
          <div class="inputContainer description-field">
            <mat-form-field class="description-field">
              <mat-label>Product Description</mat-label>
              <textarea
                matInput
                placeholder="Description"
                formControlName="productDescription"
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="field-container">
          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Cost Price</mat-label>
              <input
                matInput
                placeholder="Cost Price"
                type="number"
                formControlName="productCostPrice"
              />
              <mat-error
                *ngIf="
                  productForm.get('productCostPrice')?.hasError('required')
                "
                >Cost price is required</mat-error
              >
            </mat-form-field>
          </div>

          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Selling Price</mat-label>
              <input
                matInput
                placeholder="Selling Price"
                type="number"
                formControlName="productSellingPrice"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="field-container">
          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Quantity in Stock</mat-label>
              <input
                matInput
                placeholder="Quantity in Stock"
                type="number"
                formControlName="productQuantityInStock"
              />
              <mat-error
                *ngIf="
                  productForm
                    .get('productQuantityInStock')
                    ?.hasError('required')
                "
                >Quantity in stock is required</mat-error
              >
            </mat-form-field>
          </div>

          <div class="inputContainer">
            <mat-form-field>
              <mat-label>Reorder Point</mat-label>
              <input
                matInput
                placeholder="Reorder Point"
                type="number"
                formControlName="productReorderPoint"
              />
            </mat-form-field>
          </div>
        </div>
        <span class="button-wrapper" action-wrapper>
          <button mat-button mat-raised-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
            Cancel
          </button>
          <button
            mat-raised-button
            color="primary"
            cdkFocusInitial
            [disabled]="productForm.invalid"
            (click)="onSaveClick()"
          >
            <mat-icon>save</mat-icon>
            Submit
          </button>
        </span>
      </form>
    </div>
  </div>
</div>
