<div class="mat-elevation-z8">
  <div class="demo-button-container">
    <button
      mat-stroked-button
      color="primary"
      class="demo-button"
      (click)="openAddProductDialog(null)"
    >
      <a class="dashboard-nav-dropdown-item">Make Order</a>

      <mat-icon>add</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef>Order No</th>
      <td mat-cell *matCellDef="let element">{{ element?.orderId }}</td>
    </ng-container>
    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef>Order Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.orderDate | date : "dd-MM-yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Product Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.productName || "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="orderDetailQuantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.orderDetailQuantity || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="orderDetailUnitPrice">
      <th mat-header-cell *matHeaderCellDef>UnitPrice</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.orderDetailUnitPrice || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="orderTotalAmount">
      <th mat-header-cell *matHeaderCellDef>Total Amount</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.orderTotalAmount || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef>Customer Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.customerName || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="customerEmail">
      <th mat-header-cell *matHeaderCellDef>Customer Email</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.customerEmail || "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="customerPhone">
      <th mat-header-cell *matHeaderCellDef>Customer Phone</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.customerPhone || "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" class="action-cell">
        <section class="example-section">
          <div class="example-button-container">
            <button
              mat-icon-button
              (click)="openAddProductDialog(element, 'Update Order')"
              [matTooltip]="'Update changes'"
              color="primary"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="openDeleteModel(element)"
              [matTooltip]="'Delete Product'"
              color="primary"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </section>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 15, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
