<div class="form">
  <div class="FormContainer">
    <div class="LoginFormInnerContainer">
      <form [formGroup]="customerForm">
        <div class="field-container">
          <div class="inputContainer description-field">
            <mat-form-field class="description-field">
              <mat-label>Customer Name</mat-label>
              <input
                matInput
                placeholder="Customer Name"
                formControlName="customerName"
                maxlength="30"
              />
              <mat-error
                *ngIf="customerForm.get('customerName')?.hasError('required')"
              >
                Customer Name is required
              </mat-error>
              <mat-error
                *ngIf="customerForm.get('customerName')?.hasError('maxlength')"
              >
                Name is less than 50 char.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="field-container">
          <div class="inputContainer description-field">
            <mat-form-field class="description-field">
              <mat-label>Customer Email</mat-label>
              <input
                matInput
                type="email"
                placeholder="Ex. pat@example.com"
                formControlName="customerEmail"
                maxlength="30"
              />
              <mat-error
                *ngIf="customerForm.get('customerEmail')?.hasError('required')"
              >
                Customer Email is required
              </mat-error>
              <mat-error
                *ngIf="customerForm.get('customerEmail')?.hasError('email')"
              >
                Customer Email is Invalid
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="field-container">
          <div class="inputContainer description-field">
            <mat-form-field class="description-field">
              <mat-label>Customer Phone</mat-label>
              <input
                matInput
                type="tel"
                placeholder="Customer Phone"
                formControlName="customerPhone"
                maxlength="10"
              />
              <mat-error
                *ngIf="customerForm.get('customerPhone')?.hasError('pattern')"
              >
                Customer Phone is Invalid
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="field-container">
          <div class="inputContainer description-field">
            <mat-form-field class="description-field">
              <mat-label>Customer Address</mat-label>
              <textarea
                matInput
                placeholder="Customer Address"
                formControlName="customerAddress"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <span class="button-wrapper" action-wrapper>
          <button mat-button mat-raised-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
            Cancel
          </button>
          <button
            mat-raised-button
            color="primary"
            cdkFocusInitial
            [disabled]="customerForm.invalid"
            (click)="onSaveClick()"
          >
            <mat-icon>save</mat-icon>
            Submit
          </button>
        </span>
      </form>
    </div>
  </div>
</div>
